[paths]
src =
   src
   /Users/runner/work/jupyter_analysis_tools/jupyter_analysis_tools/src
   /home/runner/work/jupyter_analysis_tools/jupyter_analysis_tools/src
   */jupyter_analysis_tools/jupyter_analysis_tools/src
tests =
   tests
   /Users/runner/work/jupyter_analysis_tools/jupyter_analysis_tools/tests
   /home/runner/work/jupyter_analysis_tools/jupyter_analysis_tools/tests

[run]
branch = true
source =
    src/jupyter_analysis_tools
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
