[paths]
source =
   src
   /Users/runner/work/jupyter_analysis_tools/jupyter_analysis_tools/src
   /home/runner/work/jupyter_analysis_tools/jupyter_analysis_tools/src

[run]
branch = true
source =
    src/jupyter_analysis_tools
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
